

/*SONG TABLE TOP STYLE*/

.add_song_button {
    cursor: pointer;
}
#import_song::-webkit-file-upload-button {
    visibility: hidden;
}
#upload-song-submit {
    background: #ba86fb;
    color: black;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    transition: border, background, color, ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
    padding: 5px 10px;
}
    #upload-song-submit:hover {
        border: solid 1px #ba86fb;
        background: none;
        color: white;
    }
#import_song {
    display: none;
}
#upload-song-form label i {
    color: var(--t-color);
}
.top-bar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    padding: 10px 20px;
}
#song-tab {
    background: var(--bg-color);
    height: 75%;
}
#searchBar {
    border-radius: 10px;
    background: #fff;
    border: none;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*SONG TABLE STYLE*/
.tb-content {
    height: 100%;
    overflow-x: auto;
    margin-top: 0px;
}
    .tb-content::-webkit-scrollbar {
        width: 7px;
    }

    .tb-content::-webkit-scrollbar-track {
        background: #2e2e2e;
        border-radius: 20px;
    }

    .tb-content::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 20px;
    }
.song-table {
    table-layout: fixed;
    background: var(--e-bg-color);
    width: 100%;
    color: var(--t-color);
}
    .song-table th {
        padding: 20px 15px;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        color: var(--t-color);
        text-transform: uppercase;
        flex: 1;
        cursor: pointer;
    }
    .song-table th .fa-sort-down {visibility: hidden;}
    .song-table th:hover .fa-sort-down {visibility: visible;}
    .song-table tr {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
    }
        .song-table tr:hover {
            background: var(--se-bg-color);
        }
.song-table-cell {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    color: var(--t-color);
    border-bottom: solid 1px rgba(255,255,255,0.1);
    flex: 1;
    text-overflow: ellipsis;
}
.song-table-button-cell {
    display: flex;
    justify-content: space-evenly;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,0.5);
    padding: 10px 15px;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 13px;
}
.dropdown-menu:hover .dropdown-content {
    display: block;
}
    .dropdown-content:before {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 10px 15px 10px;
        border-color: transparent transparent rgba(0,0,0,0.5) transparent;
        display: inline-block;
        position: absolute;
        bottom:100%;
        left: 50%;
        transform: translateX(-50%);
    }

/*
* PRELOADER STYLE
*/
#preloader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    display: none;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    z-index: 3;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #90a2e8;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #49f0f8;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
